@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/tarma.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 90vh;
  min-width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
